
@{
    ViewBag.Title = "Index";
}

<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">        
       <div class="panel-title">JSON API list</div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Serial</th>
                    <th>Description</th>
                    <th>Detail links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Get all now showing movies in json format <span class="badge">Currently @ViewBag.NowShowing Movies</span></td>
                    <td><a target="_blank" href="~/api/nowshowing">/api/nowshowing</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Get all upcoming movies in json format <span class="badge">Currently @ViewBag.ComingSoon Movies</span></td>
                    <td><a target="_blank" href="~/api/upcoming">/api/upcoming</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ticket and timing in json format</td>
                    <td><a target="_blank" href="~/api/ticket">/api/ticket</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Showtime</td>
                    <td><a target="_blank" href="~/api/showtime">/api/showtime</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Nowshowing From DB</td>
                    <td><a target="_blank" href="http://cineplex.shibliemon.com/nowshowing.php">nowshowing.php</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Upcoming From DB</td>
                    <td><a target="_blank" href="http://cineplex.shibliemon.com/upcoming.php">/upcoming.php</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<a href="http://www.cineplexbd.com/">Star Cineplex website link</a>


